*,
*:after,
*:before
  box-sizing: border-box

body
  color: #3B3B3B
  margin: 0
  font-family: Fira Sans, Helvetica Neue, Helvetica, Segoe, Roboto, sans-serif

@import "chartist"
@import "node_modules/*"
